* {
  box-sizing: border-box;
}

input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 0;
  margin-top: 2%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.button {
  background-color: #d61515;
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  width: 100px;
  cursor: pointer;
}

.button:hover {
  background-color: #971414; 
}

.right{
  float: right;
}

form{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}